# Pandora style
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Right
AlignOperands: DontAlign
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false
ColumnLimit: 140
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 1
PackConstructorInitializers: Never
PenaltyBreakAssignment: 0
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakComment: 0
PenaltyBreakFirstLessLess: 60
PenaltyBreakString: 60
PenaltyExcessCharacter: 1
PointerAlignment: Right
ReflowComments: false
SortIncludes: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
UseTab: Never

